body {
    text-align: center;
    background-image: url('https://cdn.pixabay.com/photo/2014/05/23/17/11/the-background-352167_960_720.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3 {
  font-family: monospace;
  font-size: 1.8em;
}

h1 {
  color: blue;
}
